azure-identity>=1.15
azure-core>=1.29
azure-mgmt-compute>=30.0
azure-mgmt-network>=25.0
azure-mgmt-storage>=21.0
azure-mgmt-resource>=23.0
azure-mgmt-subscription>=3.0
azure-mgmt-monitor>=6.0
azure-mgmt-containerservice>=29.0
azure-mgmt-containerregistry>=10.0
azure-mgmt-apimanagement>=4.0
azure-mgmt-web>=7.0
azure-mgmt-authorization>=4.0
azure-mgmt-cdn>=12.0
azure-mgmt-cosmosdb>=9.0
azure-mgmt-datafactory>=3.0
azure-mgmt-datalake-store>=0.5
azure-mgmt-security>=5.0
azure-mgmt-eventgrid>=10.0
azure-mgmt-eventhub>=10.0
azure-mgmt-frontdoor>=1.0
azure-mgmt-rdbms>=10.0
azure-mgmt-recoveryservices>=3.0
azure-mgmt-redis>=14.0
azure-mgmt-servicebus>=8.0
azure-mgmt-sql>=4.0
azure-mgmt-synapse>=2.0
azure-keyvault-keys>=4.8
azure-keyvault-secrets>=4.7
